.GameWrapper {
  margin-bottom: 6px;
  border: 3px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .GamePanel {
    position: relative;
    display: flex;
    color:#fff;
    font-family: 'Lato';
    max-width: 480px;
    overflow: hidden;
    .GameImage {
      opacity: 0%;
      width: 50%;
      align-self: center;
      transition-duration: 1s;
    }

    .GameInfo {
      display: flex;
      flex-wrap: wrap;
      padding: 8px 0;
      position: relative;
      .GameName {
        position: absolute;
        font-size: 18px;
        text-transform: uppercase;
        width: calc(100% - 15px);
        text-align: right;
        font-weight: bold;
        white-space: nowrap;
        right: 10px;
        transform: translateX(-400px);
        transition-duration: 1s;
        @media (min-width: 480px) {
          font-size: 22px;
        }
      }

      .GameStats {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        font-family: Lato;
        margin-top: 40px;
        .GameStat {
          width: 33%;
          display: flex;
          flex-wrap: wrap;
          text-transform: uppercase;
          text-align: center;
          font-size: 16px;
          justify-content: center;
          transition-duration: 1s;
          opacity: 0;
          @media (min-width: 480px) {
            margin-top: 14px;
            font-size: 18px;
          }
          * {
            pointer-events: none;
          }
          .GameStatRating {
            font-size: 22px;
            @media (min-width: 480px) {
              font-size: 36px;
            }
            font-weight: bold;
            width: 100%;
          }
        }
    
      }
    
    }
    
    .GameHealth {
      height: 100%;
      width: 30px;
      border-left: 2px solid #000;
      position: relative;
      .GameHealthBar {
        background: #ddd;
        width: 100%;
        transition: all 1s;
      }
    }

  }

  .GamePanel:nth-child(2) {
    border-top: 3px solid #000;
    flex-direction: row-reverse;
    .GameInfo {
      .GameName {
        text-align: left;
        left: 10px;
        right: initial;
        transform: translateX(400px);
      }
    }
    .GameHealth {
      height: 100%;
      width: 30px;
      border-right: 2px solid #000;
      border-left: none;
      position: relative;
    }
  }
  
  .GameStat:nth-child(1) {
    transition-delay: 0.6s;
  }
  .GameStat:nth-child(2) {
    transition-delay: 0.8s;
  }
  .GameStat:nth-child(3) {
    transition-delay: 1.0s;
  }
  .GameStat:nth-child(4) {
    transition-delay: 1.2s;
  }
  .GameStat:nth-child(5) {
    transition-delay: 1.4s;
  }
  .GameStat:nth-child(6) {
    transition-delay: 1.6s;
  }
  .GameImage {
    transition-delay: 1.6s;
  }

  &.Loaded {
    .GamePanel {
      .GameImage {
        opacity: 100%;
      }
      .GameInfo{
        .GameName {
          transform: translateX(0px);
        }
        .GameStat {
          opacity: 100%;
        }
        .Disabled {
          opacity: 50%;
          pointer-events: none;
        }
      }
    }
  }

}
