.Button {
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  background: #222;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  padding: 15px;
  margin: 5px 0;
  font-family: Lato;
  text-transform: uppercase;
  min-width: 100px;
  opacity: 1;
  transition: all 1s;
  transition-delay: 2s;
}

.Button.Hide {
  opacity: 0; 
}