.GamePanel {
  position: relative;
  display: flex;
  color:#fff;
  font-family: 'Lato';
  max-width: 480px;
  overflow: hidden;
  border: 3px solid #000;
  margin-bottom: 20px;
  cursor: pointer;
  .GameImage {
    width: 50%;
    align-self: center;
  }
  .GameInfo {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0;
    position: relative;
    .GameName {
      position: absolute;
      font-size: 18px;
      text-transform: uppercase;
      width: calc(100% - 15px);
      text-align: right;
      font-weight: bold;
      white-space: nowrap;
      right: 10px;
      @media (min-width: 480px) {
        font-size: 22px;
      }
    }

    .GameStats {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      color: #fff;
      font-family: Lato;
      margin-top: 40px;
      .GameStat {
        width: 33%;
        display: flex;
        flex-wrap: wrap;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        justify-content: center;
        @media (min-width: 480px) {
          margin-top: 14px;
          font-size: 18px;
        }
        * {
          pointer-events: none;
        }
        .GameStatRating {
          font-size: 22px;
          @media (min-width: 480px) {
            font-size: 36px;
          }
          font-weight: bold;
          width: 100%;
        }
      }
  
    }
  
  }
  &.Selected {
    border: 3px solid #ec1d24;
  }
  * {
    pointer-events: none;  
  }
}