@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Card {
  background: #4b824b;
  height: 580px; /* 630 */
  width: 425px; /* 450 */
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 25px 0 25px 25px;
  align-items: flex-start;
}

.Card-Image {
  width: 100%;
  align-self: center;
}

.Card-Name-Wrapper {
  width: 20%;
}

.Card-Name {
  color:#fff;
  font-family: Lato;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: bold;
  transform: rotateZ(90deg);
  text-align: left;
  white-space: nowrap;
  padding-left: 15px;
}

.Card-Section {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-items: flex-start;
}

.Card-Stats {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  font-family: Lato;
}

.Card-Stat {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  justify-content: center;
  margin-top: 40px;
}

.Card-Stats .Card-Stat-Rating {
  font-size: 45px;
  font-weight: bold;
  width: 100%;
}