.Navigation {
  height: 54px;
  background: #222;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
  overflow: hidden;
  @media (min-width: 480px) {
    height: 70px;
  }
  a:visited,
  a {
    border-top: 5px solid #222;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    position: relative;
    width: 25%;
    margin-top: 2px;
    img {
      width: 25%;
      display: block;
      max-width: 30px;
    }
    span {
      font-size: 14px;
      width: 100%;
      text-align: center;
      padding: 3px 0 0;
    }
  }
  a.Selected {
    border-top: 5px solid #ec1d24;
  }
}